@import "tailwindcss";
/* Hide scrollbar for Chrome, Safari, and Edge */
/* Hide scrollbar for all browsers */
/* html, body {
    overflow: hidden;
  } */
  
  /* For main content that should scroll but without a visible scrollbar */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
  }